span.keywordTxt {
  position: relative;
  &.open {
  }
}
.underline {
  display: inline-block;
  border-bottom: 2px solid rgb(30, 30, 117);
  position: absolute;
  left: 0;
  bottom: 0;
  animation: underline 1s forwards;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
